apiVersion: v1
kind: Pod 
metadata:
  name: pod-with-configmap
spec:
  containers:
    - name: my-container
      image: nginx
      env:
        - name: USERNAME
          valueFrom:
            configMapKeyRef:
              name: my-config
              key: user
        - name: PASSWORD
          valueFrom:
            configMapKeyRef:
              name: my-config
              key: password 

              