apiVersion: v1
kind: Pod 
metadata:
  name: pod-with-configmap
spec:
  containers:
    - name: my-container
      image: nginx
      volumeMounts:
        - name: config-volume
          mountPath: /etc/config
  volumes:
    - name: config-volume
      configMap:
        name: my-config 
